body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0; 
}

*{
    box-sizing: border-box;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin: 0 auto;
    max-width: 960px;
} 

a {
    text-decoration: none;
    color: #f9faf8;
}

/*--------------------HEADER-------------------*/
.header{
    background-color: #1f2937;
    color: #f9faf8;
    /* background-image: url(../img/hero-wide.jpeg); */
    background-image:
            linear-gradient(180deg, 
              rgba(49, 49, 49, 0.9) 10%, 
              rgba(121, 85, 7, 0.65)), url(../img/hero-wide.jpeg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    display:flex;
    flex-shrink:0;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px; 
    flex-shrink: 0;
}


/*--------------------HERO-------------------*/
.hero{
    padding: 200px 8px;
    justify-content: space-around;
}

.welcome{
    text-align: center;
    /* width: 400px; */
}
.welcome-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    
}
/* .welcome-img{
    width: 500px;
    height: 250px;
    background-color: beige;
    flex-grow:0;
    position: absolute;
    right:0;
    top:0;
    z-index:-1;
} */


/*--------------------INFORMATION-------------------*/
.info{
    text-align: center;
    padding: 80px 8px;
}
.info .container{
    flex-direction: column;
    align-items: stretch;
}
.info-title{
    font-size:36px;
    font-weight: 900;
    margin-bottom: 80px;
}
.info-card-container{
    display:flex;
    flex:1;
    justify-content: space-between;
    
}
.info-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:8px;
    padding: 8px;
    width: 200px;
}
.info-card-img{
    background: gray;
    width: 200px;
    height: 200px;
    flex-grow: 0;
}


/*------------------QUOTE/REVIEW-----------------*/
.quote{
    background: #E5E7EB; 
}

.quote .container{
    padding: 80px;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-text{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}
.quote-author{
    font-weight: bold;
    font-size: 20px;
    align-self: flex-end;
}

/*---------------CALL-TO-ACTION-------------------*/
.call-action{
    padding: 80px 8px;
}

.action-box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
    padding: 16px 64px;
    background: #3882F6;
    color:#F9FAF8;
}


/*--------------------FOOTER-------------------*/
.footer{
   padding: 32px;
   background-color: #1f2937;
   color:#F9FAF8;
}

.footer .container{
    justify-content: center;
}
