body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin: 0 auto;
    max-width: 960px;
} 

a {
    text-decoration: none;
    color: #f9faf8;
}

.header{
    background-color: #1f2937;
    color: #f9faf8;
    
}

.logo{
    display:flex;
    flex-shrink:0;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px; 
    flex-shrink: 0;
}



.hero{
    padding: 15em 8px;
    gap: 24px;

}

.welcome{
    
    width: 400px;
}
.welcome-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    
}
.welcome-img{
    width: 500px;
    height: 250px;
    background-color: beige;
    
}





.info{
    /* text-align: center; */
}
.info-card-container{
    /* display:flex;
    justify-content: center;
    align-items: center;
    gap: 52px; */
}
.info-card{
    /* max-width: 200px; */
}

.quote{
    /* background: #e5e7eb; */
}

.call-action{
    /* display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6; */
}
.footer{
    /* text-align: center; */
}